body{
    background-image: url("../images/leavesbg.jpg");
    background-repeat: repeat;
}

#start-box {
    display:block;
    overflow: auto;
    height:400px;
    background-color: lightgreen;
   
}

#title-text {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 100px;
}

#start-button{
    margin:20px;
}

#sub-button{
    margin:20px;
}

#quiz-box {
    overflow: auto;
    height:auto;
    background-color: lightgreen;
    font-family: 'Gamja Flower';
    text-align: center;
    float:center;
   
}

#end-box {
    display:block;
    overflow: auto;
    height:400px;
    background-color: lightgreen;
    font-family: 'Gamja Flower'
   
}

.quiz-text{
    text-align: center;
}

#timerText{
    color:red;
}
